@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --primary: #4F46E5;
  --primary-hover: #4338CA;
  --bg-dark: #0F172A;
  --bg-card: #1E293B;
  --text-main: #F8FAFC;
  --text-muted: #94A3B8;
  --border-color: #334155;
}

html,
body,
#root {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: #f5f6f8;
  color: #202124;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background: #d8d8d8;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: transparent;
}
